[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "atom4R"]
	path = atom4R
	url = https://github.com/eblondel/atom4r
[submodule "cleangeo"]
	path = cleangeo
	url = https://github.com/eblondel/cleangeo
[submodule "d4storagehub4R"]
	path = d4storagehub4R
	url = https://github.com/eblondel/d4storagehub4r
[submodule "geometa"]
	path = geometa
	url = https://github.com/eblondel/geometa
[submodule "geonapi"]
	path = geonapi
	url = https://github.com/eblondel/geonapi
[submodule "geonode4R"]
	path = geonode4R
	url = https://github.com/eblondel/geonode4r
[submodule "geosapi"]
	path = geosapi
	url = https://github.com/eblondel/geosapi
[submodule "ocs4R"]
	path = ocs4R
	url = https://github.com/eblondel/ocs4r
[submodule "ows4R"]
	path = ows4R
	url = https://github.com/eblondel/ows4r
[submodule "zen4R"]
	path = zen4R
	url = https://github.com/eblondel/zen4r
